.homeLoginBtn{
    margin: auto;
    background: linear-gradient(180deg, #c99f36 -5.81%, #fae488 43.27%, #fae488 45.71%, #fae488 48.07%, #fae488 50.7%, #fae488 53.63%, #f6df82 56.18%, #f2da7c 58.53%, #b3841b 100%) !important;
    width: 100%;
     box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, .3);
    border-bottom: 5px solid rgba(0, 0, 0, .45);
     text-align: left;
    font-size: 20px;
    width: max-content;
    margin: auto;
}
.homePromotionBtn{
    background: #4565b2;
    margin: auto;
     width: 100%;
     box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, .3);
    border-bottom: 5px solid rgba(0, 0, 0, .45);
     text-align: left;
    color: #fff;
    font-size: 20px;
}
.beforeLoginHome{
     width: 20%;
     margin: auto;
     display: none;
}
 
.homeMarquee{
     border: 2px solid #5F0B6B;
     background: #5F0B6B;
     border-radius: 8px;
     transform: skew(-20deg);  
}
 .marqueeText{
    transform:  skew(20deg) ;
 }
.homeContactImg{
    width: 50px;
    height: 50px;
}
.loginBtn{
    background: url('../img/loginBg.png') center center / 100% no-repeat !important;
    color: #fff;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 100%;
    height: 3.5em;
    line-height: 1.5em;
 }
 .registerBtn{
    background: url('../img/registerBg.png') center center / 100% no-repeat !important;
    color: #fff;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 100%;
    height: 3.5em;
    line-height: 1.5em;
 }
 .bottomMenu{
   display: none;
   z-index: 99;
 }
 .mobileScreenContainer{
    display: none;
 }
 .lgScreenContainer{
    display: block;
  }
  .sidebarLgContainer{
     position: fixed;
    top: 0;
    bottom: 0;
    left: 1%;
    width: 310px;
   overflow-y: scroll !important;
    }
    .sidebarLgContainer::-webkit-scrollbar{
        display: none;
    }
  .sidebarLg{
    box-shadow: 1px 0 9px 3px rgba(0, 0, 0, .6);
  }
  .sidebarLgIcon{
    width: 25px;
    height: 25px;
   }
  .lgSidebarLogo{
    height: 90px;
  }
  .gameTabImgLg{
    width: 100%;
    height: 60px;
    object-fit: cover;
  }

  .gameTabTitleLg{
    background: #FBB32A;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
  .providerImg{
    max-height: 65px;
    width: 90px;
  }
@media screen and (max-width:1030px) {
    .beforeLoginHome{
        width: 40%;
    }
}
@media screen and (max-width:992px) {
    .beforeLoginHome{
        display: block;
    }
    .mobileScreenContainer{
        display: block;
    }
     .bottomMenu{
        display: flex;
         position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
     }
    .lgScreenContainer{
        display: none;
    }
 }
   
@media screen and (max-width:650px) {
    .beforeLoginHome{
        width: 60%;
    }
}
@media screen and (max-width:450px) {
    .beforeLoginHome{
        width: 80%;
    }
    .homeMarquee{
        font-size: 14px;
    }
}